@font-face {
    font-family: 'urbregular';
    src: url(/font/urb-regular.woff2) format(woff2);
    src: url(/font/urb-regular.woff) format(woff);
    font-weight: normal;
}

@font-face {
    font-family: 'urblight';
    src: url(/font/urb-light.woff2) format(woff2);
    src: url(/font/urb-light.woff) format(woff);
    font-weight: normal;
}
body{
    background-color: #BF9A7D;

}

h1{
    font-size: 18px;
    font-family:'urbregular';
    font-weight: normal;
}

h2{
    font-size: 18px;
    font-family:'urblight';
    font-weight: normal;
}

.logo {

    max-width: 100%;
    height: auto;
  
  }